# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
*.tfvars
*.tfvars.json

# SSH Keys — NEVER commit these
*.pem
*.key
id_rsa
id_rsa.pub
devops-lab-key
devops-lab-key.pub

# Ansible
ansible/inventory.ini.bak
*.retry

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log
